@charset "UTF-8";
/* 
tan: #EDEDE8
light blue: #6ac289
navy: #032F40

*/


body {
	background-image: url(low_contrast_linen/low_contrast_linen.png);
	font-family: "Trebuchet MS", sans-serif;
}

#nav {
	list-style: none;
	background-color: #EDEDE8;
	width: 600px;
	padding: 15px;
	margin: 10px auto;
	border: 5px solid #032F40;
}

#nav li {
	display: inline;
}

#nav a {
	list-style: none;
	padding: 30px 30px 5px 30px;
}

h1 {
	text-align: center;
	color: #EDEDE8;
	font-family: "Trebuchet MS", sans-serif;
}

h2 {
	color: #6ac289;
	text-decoration: underline;
	text-align: center;
}

h3 {
	color: #6ac289;
	padding-bottom: 20px;
	text-align: center;
}

p {
	padding: 10px 20px 20px 20px;
	color: #6ac289;
	text-align: center;
}

img {
	margin: auto;
}

a {
  font-weight: bold;
  color: #6ac289;
  text-decoration: none;
  text-align: center;
}

.experience {
	padding-bottom: 1-px;
	text-align: left;
	color: #032F40;
}


img.photo {
	display: inline-block;
	margin: auto;
	border-width: 0px;
	padding: 40px;
}

.describe {
	text-align: left;
	padding-bottom: 10px;
}


.container {
	margin: 0 auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

article {
	width: 190px;
	padding: 10px;
	margin: 10px;
	float: left;
	background-color: #EDEDE8;
}

article.photography {
	background: none;
	margin: 50px;
	border: none;
}

footer {
	clear: both;
	text-align: center;
	color: #EDEDE8;
}
