@charset "UTF-8";
/* 
tan: #EDEDE8
light blue: #6ac289
navy: #032F40

*/

body {
	width: 761px;
	margin: 0 auto;
	border: 10px solid #6ac289;
	padding: 20px 0px 0px 0px;
	background-color: #EDEDE8;
	font-family: "Trebuchet MS", sans-serif;	
}

#nav {
	list-style: none;
	background-color: #032F40;
	width: 600px;
	padding: 15px;
	margin: 10px auto;	
}

#nav li {
	display: inline;
}

#nav a {
	list-style: none;
	padding: 30px 30px 5px 30px;
}

html {
	background-color: #032F40;
}

h1 {
	text-align: center;
	color: #032F40;
	font-family: "Trebuchet MS", sans-serif;
}

h2 {
	color: #6ac289;
	text-decoration: underline;
	text-align: center;
}

h3 {
	color: #6ac289;
	padding-bottom: 20px;
	text-align: center;
}

p {
	padding: 10px 20px 20px 20px;
	color: #032F40;
	text-align: center;
}

img {
	border: 5px solid #032F40;
	margin: auto;
}

a {
  font-weight: bold;
  color: #6ac289;
  text-decoration: none;
  text-align: center;
}

.experience {
	padding-bottom: 1-px;
	text-align: left;
}


img.photo {
	display: inline-block;
	margin: auto;
	border-width: 0px;
	padding: 10px;
}

.describe {
	text-align: left;
	padding-bottom: 10px;
}

